table { border-collapse: collapse; font-size: 14px; font-family: Calibri, Arial, sans-serif; }
table thead { background: #a6a6a6; color: #fff; }
table td, table th { border: 1px solid #9a9a9a; padding: 3px; text-align: center; }
table td:nth-child(2){text-align: left;}
table tbody tr:nth-child(even) { background: #d9d9d9; }
