body { font-family: Consolas, Arial, sans-serif; background: #000; color: #fff; }
section { padding: 20px; }
div { margin: 15px 0; }
input { font-size: 18px; }
p { margin: 15px 0; }
#inputNum1 { width: 50px; text-align: center; }
